{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h1>Nueva Mascota</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form class="vstack gap-3 {% if errors %}was-validated{% endif %}"
                aria-label="Formulario de creacion de mascota"
                method="POST"
                action="{% url 'pets_form' %}"
                novalidate>

                {% csrf_token %}

                <input type="hidden" value="{{ pet.id }}" name="id" />

                <div>
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text"
                        id="name"
                        name="name"
                        value="{{pet.name}}"
                        class="form-control"
                        required/>

                    {% if errors.name %}
                        <div class="invalid-feedback">
                            {{ errors.name }}
                        </div>
                    {% endif %}
                </div>
                <div>
                    <label for="breed" class="form-label">Raza</label>
                    <input type="text"
                        id="breed"
                        name="breed"
                        class="form-control"
                        value="{{pet.breed}}"
                        required/>

                    {% if errors.breed %}
                        <div class="invalid-feedback">
                            {{ errors.breed }}
                        </div>
                    {% endif %}
                </div>
                <div>
                    <label for="birthday" class="form-label">Fecha de nacimiento</label>
                    <input type="date"
                        id="birthday"
                        name="birthday"
                        class="form-control"
                        value="{{ pet.birthday }}"
                        required/>

                    {% if errors.birthday %}
                        <div class="invalid-feedback">
                            {{ errors.birthday }}
                        </div>
                    {% endif %}
                </div>

                <button class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}