{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1>Nuevo Registro Médico para {{ pet.name }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group mb-4">
            <label for="pet_name" class="mb-2">Nombre de la Mascota</label>
            <input type="text" id="pet_name" name="pet_name" value="{{ pet.name }}" class="form-control" disabled>
        </div>
        <div class="form-group mb-4">
            <label for="medicines" class="mb-2">Seleccionar Medicamento</label>
            <select id="medicines" name="medicines" class="form-select" required>
                {% for medicine in medicines %}
                <option value="{{ medicine.id }}">{{ medicine.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-4">
            <label for="veterinaries" class="mb-2">Seleccionar Veterinario</label>
            <select id="veterinaries" name="veterinaries" class="form-select" required>
                {% for veterinary in veterinaries %}
                <option value="{{ veterinary.id }}">{{ veterinary.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}