{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="mb-4">Historial Médico de {{pet.name}}</h1>

    <div class="mb-2">
        <a href="{% url 'pet_form_history' id=pet.id %}" class="btn btn-primary">
            <i class="bi bi-plus"></i>
            Nuevo Registro Médico
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Veterinario</th>
                <th>Medicamento</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ pet.name }}</td>
                <!-- Listar los nombres de los veterinarios asociados -->
                <td>
                    {% if pet.veterinaries.all %}
                        {% for veterinary in pet.veterinaries.all %}
                            {{ veterinary.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        No hay veterinarios asociados
                    {% endif %}
                </td>
                <!-- Listar los nombres de los medicamentos asociados -->
                <td>
                    {% if pet.medicines.all %}
                        {% for medicine in pet.medicines.all %}
                            {{ medicine.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        No hay medicamentos asociados
                    {% endif %}
                </td>
                <td>
                    <div class="d-inline-flex gap-2">
                        <a class="btn btn-outline-primary" href="{% url 'pet_edit_history' id=pet.id %}">Editar</a>
                        <form method="POST" action="{% url 'pet_delete' %}">
                            {% csrf_token %}
                            <input type="hidden" name="pet_id" value="{{ pet.id }}">
                            <button class="btn btn-outline-danger disabled">Eliminar</button>
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
