{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="mb-4">Mascotas</h1>

    <div class="mb-2 d-inline-flex">
        <a href="{% url 'pet_form' %}" class="btn btn-primary">
            <i class="bi bi-plus"></i>
            Nueva Mascota
        </a>
        <form class="d-flex ms-2" action="{% url 'pet_search' %}" method="GET">
            <input class="form-control me-2" type="search" name="search" placeholder="Buscar mascotas..." aria-label="Buscar">
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Fecha de nacimiento</th>
                <th>Peso</th>
                <th>Dueño</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for pet in pets %}
            <tr>
                    <td>{{pet.name}}</td>
                    <td>{{pet.breed}}</td>
                    <td>{{pet.birthday}}</td>
                    <td>{{pet.weight}}</td>
                    <td>{{pet.client}}</td>
                    <td>
                        <div class="d-inline-flex gap-2">  
                            <a class="btn btn-outline-primary"
                            href="{% url 'pet_edit' id=pet.id %}"
                            >Editar</a>
                            <a class="btn btn-outline-secondary"
                            href="{% url 'pet_history' id=pet.id %}"
                            >Ver Historial</a>
                            <form method="POST"
                                action="{% url 'pet_delete' %}"
                                aria-label="Formulario de eliminación de mascota">
                                {% csrf_token %}

                                <input type="hidden" name="pet_id" value="{{ pet.id }}" />
                                <button class="btn btn-outline-danger">Eliminar</button>
                            </form>
                        </div>
                    </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        No existen mascotas
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}