{% extends 'base.html' %}
{% load filters %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h1>Nuevo Producto</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3">

            
            <form id="form" class="vstack gap-3 {% if errors %}was-validated{% endif %}"
                aria-label="Formulario de creacion de producto"
                method="POST"
                action="{% url 'product_form' %}"
                enctype="multipart/form-data"
                novalidate>

                {% csrf_token %}

                <input type="hidden" value="{{ product.id }}" name="id" />

                <div>
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text"
                        id="name"
                        name="name"
                        value="{{product.name}}"
                        class="form-control {% if errors.name %}is-invalid{% endif %}"
                        required/>

                    {% if errors.name %}
                        <div class="invalid-feedback">
                            {{ errors.name }}
                        </div>
                    {% endif %}
                </div>

                <div id="toggleContainer">
                    <label for="toggleAutoDescription">Descripción automática del producto</label>
                    <input type="checkbox" id="toggleAutoDescription">
                </div>

                <div id="toggleContainer">
                    <label for="toggleSuggestions">Sugerencias de etiquetas</label>
                    <input type="checkbox" id="toggleSuggestions"/>
                </div>

                <div>
                    <label for="image" class="form-label">Imagen</label>
                    <input type="file"
                        id="image"
                        name="image"
                        class="form-control {% if errors.image_url %}is-invalid{% endif %}"
                        accept="image/jpeg, image/jpg, image/png"/>

                        {% if product.image_url %}
                        <div id="imagePreview" style="margin-top: 10px;">
                            {% with sas_token=product.image_url|generate_sas_token %}
                            <img src="{{ product.image_url }}{{ sas_token }}" alt="{{ product.name }}"
                                style="max-width: 150px; max-height: 150px;">
                            {% endwith %}
                        </div>
                        {% else %}
                        <div id="imagePreviewLocal" style="margin-top: 10px;">
            
                        </div>
                        {% endif %}
                        
                    {% if errors.image_url %}
                        <div class="invalid-feedback">
                            {{ errors.image_url }}
                        </div>
                    {% endif %}
                </div>

                <div class="d-inline-flex">
                    <div id="tipo">
                        <label for="type" class="form-label">Tipo</label>
                        <input type="text"
                            id="type"
                            name="type"
                            value="{{product.type}}"
                            class="form-control {% if errors.type %}is-invalid{% endif %}"
                        />

                        {% if errors.type %}
                            <div class="invalid-feedback">
                                {{ errors.type }}
                            </div>
                        {% endif %}
                    </div>
                    <div id="sugerencias">
                        <label class="form-label">Sugerencias</label>
                        <div id="suggestionsContainer" class="form-control tags-container">
                            <!-- Aquí se agregarán las sugerencias dinámicamente -->                        
                        </div>
                    </div>
                </div>

                <div id="tagContainer" class="form-control tags-container">
                    <!-- Aquí se agregarán las etiquetas dinámicamente -->
                    {% if product.type %}
                        {% with product_type_list=product.type|split_string:',' %}
                            {% for tag in product_type_list %}
                                <div class="tag">
                                    <span class="tag-text">{{ tag }}</span>
                                    <i class="bi bi-x-circle tag-close"></i>
                                </div>
                            {% endfor %}
                        {% endwith %}
                    {% endif %}
                </div>

                <div>
                    <label for="description" class="form-label">Descripción</label>
                    <style>
                        textarea {
                            width: 100%; /* Opcional: ancho completo del contenedor */
                            min-height: 100px; /* Altura mínima inicial */
                            resize: vertical; /* Permite redimensionar verticalmente */
                        }
                    </style>
                    <textarea id="description"
                              name="description"
                              class="form-control {% if errors.description %}is-invalid{% endif %}"
                              required>{{ product.description }}</textarea>
                
                    {% if errors.description %}
                        <div class="invalid-feedback">
                            {{ errors.description }}
                        </div>
                    {% endif %}
                </div>     

                <div>
                    <label for="price" class="form-label">Precio</label>
                    <input type="number"
                        id="price"
                        name="price"
                        value="{{product.price}}"
                        class="form-control"
                        required
                        min="1"
                        step="1"/>
                        
                    {% if errors.price %}
                        <div class="invalid-feedback">
                            {{ errors.price }}
                        </div>
                    {% endif %}
                </div>
                
                <div>
                    <label for="provider" class="form-label">Proveedor</label>
                    <select name="provider" id="provider" class="form-select">
                        {% for provider in providers %}
                        <option value="{{ provider.id }}" {% if provider.id == product.provider %}selected{% endif %}>{{ provider.name }}</option>
                        {% endfor %}
                    </select>
                </div>
           
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>

            <style>
                .tags-container {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                }

                .tag {
                    background-color: #0062f3;
                    color: #ffffff;
                    padding: 4px 8px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                }

                .tag-text {
                    margin-right: 4px; /* Espacio entre el texto y el icono de la cruz */
                }

                .tag-close {
                    display: none;
                    cursor: pointer;
                    color: red; /* Color opcional para el icono */
                }

                .tag-add{
                   
                    cursor: pointer; /* Cambiar el cursor al pasar sobre el icono */
                    color: rgb(0, 0, 0); /* Color opcional para el icono */
                }

                .tag:hover .tag-close .tag:hover .tag-add { /* Mostrar el icono de cruz al pasar sobre la etiqueta */
                    display: inline-block; /* Mostrar el icono de cruz al pasar sobre la etiqueta */                
                }

                .d-inline-flex {
                    display: inline-flex;
                    width: 100%; /* Asegura que ocupe todo el ancho disponible */
                }

                .d-inline-flex > div {
                    flex-grow: 1; /* Hace que los elementos dentro de d-inline-flex ocupen el espacio disponible */
                    margin-right: 10px; /* Margen entre los elementos */
                }

                #suggestionsContainer {
                    display: flex; /* Utilizar flexbox dentro del contenedor de sugerencias */
                    flex-direction: column; /* Alinear elementos verticalmente */
                    width: 100%; /* Asegurar que ocupe todo el ancho disponible */
                    height: 54%; 
                    padding-right: 0%;
        
                }

                #sugerencias{
                    margin-right: 0%;
                }

                #suggestionsList {
                    /* Estilos opcionales para el contenedor de lista de sugerencias */
                    margin-bottom: 10px; /* Margen inferior para separación */
                }
            </style>

            <script>
                document.addEventListener("DOMContentLoaded", function() {

                    // Obtener elementos del DOM
                    const toggleAutoDescription = document.getElementById('toggleAutoDescription');
                    const toggleSuggestions = document.getElementById('toggleSuggestions');
                    const descriptionTextarea = document.getElementById('description');
                    const imageInput = document.getElementById('image');
                    const imagePreviewDiv = document.getElementById('imagePreview');
                    const imagePreviewDivLocal = document.getElementById('imagePreviewLocal');
                    const typeInput = document.getElementById('type');
                    const tagContainer = document.getElementById('tagContainer');
                    const form = document.getElementById("form")
                    const tagsElements = tagContainer.getElementsByClassName('tag');
                    const suggestionsContainer = document.getElementById('suggestionsContainer');

                    let tags = {}; // Objeto para almacenar las etiquetas

                    // Por defecto, el toggle está desactivado (no ejecuta la extracción de texto)
                    toggleAutoDescription.checked = false;

                    // Por defecto, el toggle está desactivado (no ejecuta las sugerencias de etiquetas)
                    toggleSuggestions.checked = false;

                    typeInput.value=""

                    

                    typeInput.addEventListener('keydown', function (event) {
                        // Verificar si se presionó la tecla "Enter"
                        if (event.key === 'Enter') {
                            event.preventDefault(); // Evitar el envío del formulario por defecto

                            const typeValue = this.value.trim(); // Obtener el valor del input y quitar espacios en blanco al cominezo y final

                            if (typeValue !== '') {

                                 // Verificar si la etiqueta ya existe en el diccionario
                                if (!tags[typeValue]) {
                                    // Agregar la etiqueta al diccionario
                                    tags[typeValue] = true;
                                }
                                // Crear un nuevo elemento div para la etiqueta
                                const tagElement = document.createElement('div');
                                tagElement.classList.add('tag');
                                // Contenido de la etiqueta (texto y botón de eliminar)
                                tagElement.innerHTML = `
                                    <span class="tag-text">${typeValue}</span>      
                                    <i class="bi bi-x-circle tag-close"></i> <!-- Icono de Bootstrap Icons como cruz -->                      
                                `;

                                // Agregar la etiqueta al contenedor de etiquetas
                                tagContainer.appendChild(tagElement);

                                // Limpiar el valor del input para permitir agregar más etiquetas
                                this.value = '';

                                // Manejar clic en el botón de eliminar etiqueta
                                const closeBtn = tagElement.querySelector('.tag-close');
                                closeBtn.addEventListener('click', function () {
                                    // Encontrar y eliminar la etiqueta del diccionario
                                    const tagText = tagElement.querySelector('.tag-text').textContent;
                                    delete tags[tagText];
                                    tagElement.remove(); // Eliminar la etiqueta al hacer clic en la cruz
                                });


                                // Mostrar y ocultar la cruz al pasar el mouse por encima de la etiqueta
                                tagElement.addEventListener('mouseenter', function () {
                                    closeBtn.style.display = 'inline'; // Mostrar la cruz
                                });

                                tagElement.addEventListener('mouseleave', function () {
                                   closeBtn.style.display = 'none'; // Ocultar la cruz
                                });
                            }
                        }
                    
                    });


                    // Función para convertir una imagen en base64 y guardar en localStorage
                    function convertirImagenABase64(url, callback) {
                        var img = new Image();
                        img.crossOrigin = 'Anonymous';
                        img.onload = function () {
                            var canvas = document.createElement('canvas');
                            var ctx = canvas.getContext('2d');
                            canvas.height = this.height;
                            canvas.width = this.width;
                            ctx.drawImage(this, 0, 0);
                            var dataURL = canvas.toDataURL('image/png');
                            callback(dataURL);
                            canvas = null;
                        };
                        img.src = url;
                    }                
      
                    var image_url = '{{ product.image_url }}';
                    var sasToken = '{{ product.image_url|generate_sas_token }}';  // Utiliza el filtro para obtener el token SAS
                    
                    // Reemplazar &amp; por &
                    sasToken = sasToken.replace(/&amp;/g, '&');

                    // Construir la URL completa con el token SAS
                    var url = image_url + sasToken;

                    //  Convierte imagen ya guardada a base64 y guarda en local storage
                    convertirImagenABase64(url, function (base64Img) {
                        localStorage.setItem('imagen', base64Img);
                    });
                  

                    // guarda imagen no subida en el local storage cuando se selecciona desde el input files
                    function saveImageToLocalStorage(file) {
                        const reader = new FileReader(); // Crear una nueva instancia de FileReader

                        reader.onload = function (event) {
                            const base64Image = event.target.result; // Obtener la cadena Base64

                            // Guardar la imagen en el local storage
                            localStorage.setItem('imagen', base64Image);

                            console.log('Imagen guardada en el local storage.');
                        };
                        reader.readAsDataURL(file); // Leer el archivo como una URL de datos
                    }

                    // Funciones para cuando se selecciona otra imagen
                    imageInput.addEventListener('change', function() {
                        
                        localStorage.removeItem('imagen'); // limpio local storage
                        localStorage.removeItem('imagenNombre'); // limpio local storage

                        const file = this.files[0]; // Obtener el archivo seleccionado

                        const fileName = this.files[0].name;  // obtengo el nombre

                        // Guardar el nombre del archivo en el local storage
                        localStorage.setItem('imagenNombre', fileName);

                        // imprimo valores de los toggles
                        console.log('toggleAutoDescription:', toggleAutoDescription.checked);
                        console.log('toggleSuggestions:', toggleSuggestions.checked);

                        saveImageToLocalStorage(file);

                        showImagePreview();

                        processImage();

                    });


                    function processImage() {
                        if (!toggleSuggestions.checked && !toggleAutoDescription.checked) {
                            // Si ambos toggles están desactivados, no hacer nada
                            return;
                        }

                        if (imageInput.files && imageInput.files.length > 0) {
                            var formData = new FormData();
                            formData.append('image', imageInput.files[0]);
                            formData.append('extract_text', toggleAutoDescription.checked);
                            formData.append('suggest_tags', toggleSuggestions.checked);

                            fetch('{% url "process_image" %}', {
                                method: 'POST',
                                body: formData,
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (toggleAutoDescription.checked && data.extracted_text) {
                                    descriptionTextarea.value = data.extracted_text;
                                }
                                                               
                                if (toggleSuggestions.checked && data.suggested_tags) {
                                    const suggestionsContainer = document.getElementById('suggestionsContainer');

                                    // Limpiamos el contenido anterior del contenedor de sugerencias
                                    suggestionsContainer.innerHTML = '';

                                    // Iteramos sobre las etiquetas sugeridas y las agregamos al contenedor
                                    data.suggested_tags.forEach(tag => {
                                       // Crear un nuevo elemento div para la etiqueta
                                        const tagElement = document.createElement('div');
                                        tagElement.classList.add('tag');
                                        // Contenido de la etiqueta (texto y botón de eliminar)
                                        tagElement.innerHTML = `
                                            <span class="tag-text">${tag}</span>      
                                            <i class="bi bi-plus-circle tag-add"></i> <!-- Icono de Bootstrap Icons como cruz -->                      
                                        `;
                                        // Agregar la etiqueta al contenedor de etiquetas
                                        suggestionsContainer.appendChild(tagElement);
                                    });
                                    // Agregar evento de clic al botón de agregar etiqueta
                                    agregarSugerencias();

                                    // Mostramos el contenedor de sugerencias si hay etiquetas sugeridas
                                    //suggestionsContainer.style.display = 'flex';
                                } else {
                                    // Ocultamos el contenedor de sugerencias si no hay etiquetas sugeridas o el toggle no está activado
                                    document.getElementById('suggestionsContainer').style.display = 'none';
                                }

                            })
                            .catch(error => {
                                console.error("Error al procesar la imagen:", error);
                            });
                        } else {
                            console.log("No se seleccionó una imagen.");
                        }
                    }
                    
                    // Función para mostrar la vista previa de la imagen
                    function showImagePreview() {
                        const file = imageInput.files[0];
                        if (file) {
                            const reader = new FileReader();
                            reader.onload = function (event) {
                                const imgElement = document.createElement('img');
                                imgElement.setAttribute('src', event.target.result);
                                imgElement.setAttribute('style', 'max-width: 150px; max-height: 150px;');
                                
                                if(imagePreviewDiv){
                                    imagePreviewDiv.innerHTML = '';
                                    imagePreviewDiv.appendChild(imgElement);
                                }else{
                                    imagePreviewDivLocal.innerHTML = '';
                                    imagePreviewDivLocal.appendChild(imgElement);
                                }
                                
                            };
                            reader.readAsDataURL(file);
                        } else {
                            imagePreviewDiv.innerHTML = '';
                        }
                    }
                
                    // Obtener la imagen desde localStorage
                    const storedImage = localStorage.getItem('imagen');

                    // obtengo los errores del form
                    const errors = '{{errors}}'

                    // Muestro la imagen del local storage solo si hubieron errores en el form
                    if (errors.length > 0) {
                        showImagePreviewLocal();
                        if (storedImage) {
                            simulateFileSelection(storedImage);
                        }
                    }
                    // Función para simular la selección de archivo
                    function simulateFileSelection(imageDataUrl) {
                        const fileContent = imageDataUrl.split(',')[1]; // Extraer el contenido base64

                        // Crear un Blob a partir de los datos base64
                        const blob = b64toBlob(fileContent);

                        // Obtener la nombre de la imagen desde localStorage
                        const storedImageName = localStorage.getItem('imagenNombre');

                        let file;
                        
                        if (storedImageName==null) {
                            // Crear un objeto File a partir del Blob
                            file = new File([blob],"", { type: 'image/jpeg' });
                        }else{
                            // Crear un objeto File a partir del Blob
                            file = new File([blob], storedImageName, { type: 'image/jpeg' });
                        }
                        

                        // Obtener el elemento input de tipo file
                        const fileInput = document.getElementById('image');

                        // Crear un objeto DataTransfer
                        const dataTransfer = new DataTransfer();
                        dataTransfer.items.add(file);

                        // Establecer los archivos del input file
                        fileInput.files = dataTransfer.files;

                        // Mostrar la vista previa (opcional)
                        showImagePreview(imageDataUrl);

                        // Disparar eventos de cambio e input para simular interacción del usuario
                        fileInput.dispatchEvent(new Event('change', { bubbles: true }));
                        fileInput.dispatchEvent(new Event('input', { bubbles: true }));
                    }

                    // Función para convertir datos base64 en Blob
                    function b64toBlob(b64Data, contentType = '', sliceSize = 512) {
                        const byteCharacters = atob(b64Data);
                        const byteArrays = [];

                        for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                            const slice = byteCharacters.slice(offset, offset + sliceSize);

                            const byteNumbers = new Array(slice.length);
                            for (let i = 0; i < slice.length; i++) {
                                byteNumbers[i] = slice.charCodeAt(i);
                            }

                            const byteArray = new Uint8Array(byteNumbers);
                            byteArrays.push(byteArray);
                        }

                        return new Blob(byteArrays, { type: contentType });
                    }
                    
                    // muetra Preview de la imagen almacenada en el local storage
                    function showImagePreviewLocal() {
                    if (storedImage) {
                        // Crear un elemento de imagen y establecer la fuente como la imagen en base64
                        const imgElement = document.createElement('img');
                        imgElement.setAttribute('src', storedImage);
                        imgElement.setAttribute('style', 'max-width: 150px; max-height: 150px;');

                        // Agregar la imagen al contenedor de vista previa
                        imagePreviewDivLocal.appendChild(imgElement);

                    }}

                    // Manejar etiquetas existentes al cargar el formulario
                    const tagElements = document.querySelectorAll('.tag');
                    tagElements.forEach(tagElement => {
                        const closeBtn = tagElement.querySelector('.tag-close');

                        closeBtn.addEventListener('click', function () {
                            // Encontrar y eliminar la etiqueta del diccionario
                            const tagText = tagElement.querySelector('.tag-text').textContent;
                            delete tags[tagText];
                            tagElement.remove(); // Eliminar la etiqueta al hacer clic en la cruz
                        });

                        // Mostrar y ocultar la cruz al pasar el mouse por encima de la etiqueta
                        tagElement.addEventListener('mouseenter', function () {
                            closeBtn.style.display = 'inline'; // Mostrar la cruz
                        });

                        tagElement.addEventListener('mouseleave', function () {
                            closeBtn.style.display = 'none'; // Ocultar la cruz
                        });
                    });

                    function agregarSugerencias() {
                        console.log("entre a sugerencias funcion");
                        // Seleccionar todos los botones de agregar dentro de suggestionsContainer
                        const addBtns = suggestionsContainer.querySelectorAll('.tag .tag-add');
                        console.log(`Número de botones de agregar encontrados: ${addBtns.length}`);
    
                        // Iterar sobre cada botón de agregar
                        addBtns.forEach(addBtn => {
                            addBtn.addEventListener('click', function () {
                                console.log("Botón clickeado");
                                
                                // Encontrar y agregar la etiqueta al diccionario
                                const tagElement = addBtn.closest('.tag'); // Obtener el elemento clickeado
                                const tagText = tagElement.querySelector('.tag-text').textContent;
                                
                                if (!tags[tagText]) {
                                    console.log("Dentro del if");
                                    tags[tagText] = true; // Agregar la etiqueta al diccionario (tags)
                                    
                                    // Crear un nuevo elemento div para la etiqueta
                                    const newTagElement = document.createElement('div');
                                    newTagElement.classList.add('tag');
                                    
                                    // Contenido de la etiqueta (texto y botón de eliminar)
                                    newTagElement.innerHTML = `
                                        <span class="tag-text">${tagText}</span>      
                                        <i class="bi bi-x-circle tag-close"></i> <!-- Icono de Bootstrap Icons como cruz -->                      
                                    `;
                                    
                                    // Agregar la etiqueta al contenedor de etiquetas
                                    const tagContainer = document.getElementById('tagContainer');
                                    tagContainer.appendChild(newTagElement);
                                    
                                    tagElement.remove(); // Eliminar la etiqueta al hacer clic en add
                                }
                                
                                console.log("Fuera del if");
                            });
                        });
                    }

                    


                    // Manejar el envío del formulario
                    form.addEventListener('submit', function (event) {
                        // Procesar las etiquetas y llenar el diccionario
                        for (let i = 0; i < tagsElements.length; i++) {
                            const tagTextElement = tagsElements[i].getElementsByClassName('tag-text')[0];
                            const tagText = tagTextElement.textContent.trim();
                            if (!tags[tagText]) {
                                tags[tagText] = true;
                            }
                        }
                        // Convertir las claves del objeto tags a una cadena separada por comas
                        typeInput.value = Object.keys(tags).join(',');
                        
                    });
                            


                });
            </script>

        </div>
    </div>
</div>
{% endblock %}
