{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="mb-4">Productos</h1>

    <div class="mb-2">
        <a href="{% url 'product_form' %}" class="btn btn-primary">
            <i class="bi bi-plus"></i>
            Nuevo Producto
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
            <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.product_type}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <a class="btn btn-outline-primary"
                           href="{% url 'product_edit' id=product.id %}"
                        >Editar</a>
                        <form method="POST"
                            action="{% url 'product_delete' %}"
                            aria-label="Formulario de eliminación de producto">
                            {% csrf_token %}

                            <input type="hidden" name="client_id" value="{{ client.id }}" />
                            <button class="btn btn-outline-danger">Eliminar</button>
                        </form>
                    </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        No existen productos
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
