{% extends 'base.html' %}
{% load filters %}
{% block main %}
<div class="container">
    <h1 class="mb-4">Productos</h1>

    <div class="mb-2 d-inline-flex">
        <a href="{% url 'product_form' %}" class="btn btn-primary">
            <i class="bi bi-plus"></i>
            Nuevo Producto
        </a>
        <form class="d-flex ms-2" action="{% url 'product_search' %}" method="GET">
            <input class="form-control me-2" type="search" name="search" placeholder="Buscar productos..." aria-label="Buscar">
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>Proveedor</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.price }}</td>
                <td>{{product.provider}}</td>
                <td>{{ product.description }}</td>
                <td>
                    {% if product.image_url %}
                        {% with sas_token=product.image_url|generate_sas_token %}
                            <img src="{{ product.image_url }}{{ sas_token }}" alt="{{ product.name }}" style="max-width: 100px; max-height: 100px;">
                        {% endwith %}
                    {% else %}
                        No hay imagen
                    {% endif %}        
                </td>
                <td>
                    <div class="d-inline-flex gap-2">
                        <a class="btn btn-outline-primary" href="{% url 'product_edit' id=product.id %}">Editar</a>
                        <form method="POST" action="{% url 'product_delete' %}" aria-label="Formulario de eliminación de producto">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}" />
                            <button class="btn btn-outline-danger">Eliminar</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No existen productos</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        // Eliminar la imagen almacenada en localStorage con la clave 'imagenProducto'
        localStorage.removeItem('imagen');
        localStorage.removeItem('imagenNombre');
    </script>
</div>
{% endblock %}
