

{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="mb-4">Veterinario</h1>

    <div class="mb-2">
        <a href="{% url 'veterinario_form' %}" class="btn btn-primary">
            <i class="bi bi-plus"></i>
            Nuevo Veterinario
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Phone</th>
                <th>Email</th>

                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for veterinario in veterinarios %}
            <tr>
                    <td>{{veterinario.name}}</td>
                    <td>{{veterinario.phone}}</td>
                    <td>{{veterinario.email}}</td>
                    <td>
                        <a class="btn btn-outline-primary"
                           href="{% url 'veterinario_edit' id=veterinario.id %}"
                        >Editar</a>
                        <form method="POST"
                            action="{% url 'veterinario_delete' %}"
                            aria-label="Formulario de eliminación de veterinario">
                            {% csrf_token %}

                            <input type="hidden" name="veterinario_id" value="{{ veterinario.id }}" />
                            <button class="btn btn-outline-danger">Eliminar</button>
                        </form>
                    </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        No existen veterinarios
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}