{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="mb-4">Clientes</h1>

    <div class="mb-2">
        <a href="{% url 'clients_form' %}" class="btn btn-primary">
            <i class="bi bi-plus"></i>
            Nuevo Cliente
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Ciudad</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for client in clients %}
            <tr>
                    <td>{{client.name}}</td>
                    <td>{{client.phone}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.city}}</td>
                    <td>
                        <a class="btn btn-outline-primary"
                           href="{% url 'clients_edit' id=client.id %}"
                        >Editar</a>
                        <form method="POST"
                            action="{% url 'clients_delete' %}"
                            aria-label="Formulario de eliminación de cliente">
                            {% csrf_token %}

                            <input type="hidden" name="client_id" value="{{ client.id }}" />
                            <button class="btn btn-outline-danger">Eliminar</button>
                        </form>
                    </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        No existen clientes
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
