{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="{% url 'clients_repo' %}" class="text-decoration-none" data-testid="home-Clientes">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-people"></i>
                                Clientes
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
