{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="{% url 'clients_repo' %}" class="text-decoration-none" data-testid="home-Clientes">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-people"></i>
                                Clientes
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-3">
            <a href="{% url 'provider_repo' %}" class="text-decoration-none" data-testid="home-Providers">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-briefcase"></i>
                                Proveedores
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
      <div class="col-3">
         <a href="{% url 'product_repo' %}" class="text-decoration-none" data-testid="home-Productos">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-box-seam"></i>
                                Productos
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="{% url 'medicine_repo' %}" class="text-decoration-none" data-testid="home-Medicamentos">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-capsule"></i>
                                Medicamentos
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="{% url 'pet_repo' %}" class="text-decoration-none" data-testid="home-Pets">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-piggy-bank"></i>
                                Mascotas
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-3">
            <a href="{% url 'veterinary_repo' %}" class="text-decoration-none" data-testid="home-Veterinaries">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-person-hearts"></i>
                                Veterinarios
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>

        
    </div>
</div>
{% endblock %}
